<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.PostMapper">
	<select id="findAll" resultType="com.example.demo.domain.Post">
		select * from post
	</select>
	
	<select id="getPostsNumWithAuthor" resultType="int">
	    select count(*) from post where userID=#{userId}
	</select>

	<select id="getPostsNum" resultType="int">
	    select count(*) from post
	</select>
	
	<select id="findOne" resultType="com.example.demo.domain.Post">
		select * from post where id=#{id}
	</select>
	
	<insert id="save" useGeneratedKeys="true" keyProperty="id">
		insert into post(userID,theme,path) values(#{userID},#{theme},#{path})
	</insert>
	
	<update id="update">
		update post set userID=#{userID},theme=#{theme},path=#{path}where id= #{id}
	</update>
	
	<delete id="delete">
		delete from post where id = #{id}
	</delete>
</mapper>