<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <link rel="stylesheet" href="/css/bootstrap.min.css" />
        <title>您没有权限</title>
    </head>
    <body class="navbar navbar-inverse">
        <div class="container">
            <div class="card-header">
                <label class="col-md-2 control-label">呵呵哈哈哈或没有权限捏</label>
                <!-- <h5 class="navbar-header">呵呵哈哈哈或没有权限捏</h5> -->
            </div>
        </div>
    <script src="/js/jquery-3.4.1.min"></script>
    <script src="/js/bootstrap.min.js"></script>
    </body>
</html>